<div class="w-full h-full">
  <!-- <div class="flex-1 max-w-16" >
        <img class="w-full h-full object-contain" src="assests/images/Logo.png" alt="SocialLink logo"/>
        
    </div> -->
 
  <div class="flex flex-col h-full w-full  justify-between">
    <div class="flex items-start bg-whit h-full justify-between gap-2 w-full flex-col rounded-t-xl">
      <div class=" w-full" >
      <div class=" w-full bg-white shadow-x border-b rounded-xl" >
        <div class="w-full rounded-tl-xl bg-red-500  rounded-tr-xl" >
          <img src="assests/images/post2.jpg" class="w-full h-24 object-cover rounded-tl-xl rounded-tr-xl" alt="">
        </div>
        <div class="flex items-center justify-center flex-col" >

          <div class="w-12 h-12 rounded-full flex -mt-[10%] items-center justify-center">
            <img src="assests/images/profile.jpg" class="rounded-full object-cover w-full h-full" alt="">
          </div>
          <div class="flex gap-1 items-center justify-center flex-col" >
            <p  class="pop text-lg" >Chinonso Xavier</p>
            <p class="text-lightText text-xs pop italic" >#chinonsoxavier</p>
            <p class="text-sm text-lightText font-semibold" >Hey there i`m on SocialLink</p>
          </div>
          <div class="border-t border-b py-2 border-[#eee] my-3 flex items-center justify-between  w-full px-3" >
              <div class="border-r border-r-[#eee] flex-1 center flex-col" >
                <p>20</p>
                <p class="text-lightText text-sm pop" >Following</p>
              </div>
              <!-- <div class="h-full flex-1 w-1 bg-lightText" ></div> -->
              <!-- <hr class="h-1 w-full" > -->
              
              <div class="flex-1 center flex-col" >
                <p>20,000</p>
                <p class="text-lightText text-sm pop" >Followers</p>
              </div>
          </div>
          <div class="pb-3 pt-1" >
            <button class="po text-sm text-primaryTheme font-semibold" >My Profile</button>
          </div>
        </div>
      </div>
      </div>
      
      <div
        class="flex items-start bg-white border p-3 justify-start rounded-xl flex-col ga-1 w-full h-full"
      >
        <a
          *ngFor="let link of sidebarLinks"
          [ngClass]="routerActive(link.url) ? 'border--4 borderl-primaryTheme bg-primaryThemeLight duration-500 fill-primaryTheme' : 'border-l-0 bg-none' "
          [routerLink]='link.url'
          class="w-full py-2 h-full box-border pl-4 y-1 hover:bg-primaryThemeLight hover:fill-primaryTheme borderl-primaryTheme hover:border--4 duration-500"
        >
          <div class="flex items-center justify-start gap-2 bg-late-600 w-full">
            <div
              [innerHTML]="routerActive(link.url) ? sanitizeSvg(link.svgActive) : sanitizeSvg(link.svg)"
              class="flex items-center justify-center"
              routerLinkActive="/"
            >
              <!-- <div ></div> -->
            </div>
            <p class="font-normal pt-1 text-[15px]">{{ link.name }}</p>
          </div>
        </a>
        
       
          <div           class="cursor-pointer w-full py-2 h-full box-border pl-4 y-1 hover:bg-red-400 hover:fill-red-600 duration-500"
>
            <div
              class="flex items-center justify-start gap-2 bg-late-600 w-full"
            >
              <div class="flex items-center justify-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="inherit"
                  class="h-5 w-5 bi bi-box-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                  />
                </svg>
              </div>
              <p class="font-normal pt-1 text-[15px]">Log out</p>
            </div>
          </div>
      </div>
      
    </div>
  </div>
</div>
