<!-- <div class="bg-black   y-5" >
  <div class="max_width ">
        <div class="flex-1 flex items-center gap-4 justify-start" >
          <div class="items-center justify-center" >
            <p class="text-sky-800 font-extrabold text-3xl" >SocialLink</p> -->
            <!-- <img src="assests/images/Logo.png" class="object-contain max-w-14 max-h-14" alt="SocialLink Logo"> -->
          <!-- </div> -->
          <!-- <div class="flex items-center justify-center flex-1 max-w-64 h-8 rounded-lg relative" >
          
                <svg class="w-5 h-5 absolute z-10 left-2 stroke-slate-400 " viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 20L15.8033 15.8033C15.8033 15.8033 14 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5C18 11.0137 17.9484 11.5153 17.85 12" stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
             <input type="text" class="inset-0 pl-8 absolute rounded-lg flex-1 h-full bg-[#f7f5f5] p-2 box-border placeholder-slate-400" placeholder="Search SocialLink" >
          </div> -->

    <!-- </div>
</div>
</div> -->

<div class=""></div>